.g-container{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.g-container-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.g-container-top-left{
    width: 30%;
    display:flex;
    align-items: center;
}

.g-container-top-right{
    display: flex;
    flex-direction: row;
    width: 70%;
}

.g-container-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
