*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
}




  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e5e2e2;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 13px;
    padding: 5%;
    border-radius: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: white;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  






 /* Create Header and set Background image */
.header{
    background-image: url('../img/b6.jpg');
    height: 800px;
    margin: -0.5%;
}

 /* Create Header and set small  Background image */
.small-header{
    background-image: url('../img/b6.jpg');
    height: 400px;
    margin: -0.5%;
    margin-bottom: 5%;
}

 /* Create header navbar */
.header > .header-top, .small-header > .header-top{
    background-color: rgba(240, 248, 255, 0.603);
    display: flex;
    flex-direction: row;
    padding: 1%;
   
}

 /* Set items in left on navbar */
.header-top-left{
    display: flex;
    position: relative;
    left: 1%;
    font-weight: bold;
    font-size: 33px;
}

 /* Set items in right on navbar */
.header-top-right{
    display: flex;
    position: absolute;
    right: 30%;
    flex-direction: row;
}

 /* Style a links on navbar and organise them */
.header-top-right > a, .dropdown {
    text-decoration: none;
    padding-top: 3% ;
    padding-left: 25%;
    color: black;
}

 /* Set bottom of header */
.header-bottom{
    display: flex;
    flex-direction: column;
    padding-top: 17%;
}

 /* Set bottom of small header */
.small-header-bottom{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    align-items: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

 /* Set bottom of header */
.header-bottom-left{
    display: flex;
    position: relative;
    left: 1%;
    font-weight: bold;
    flex-direction: column;
}

 /* Set items in left on header bottom */
.header-bottom-right{
    display: flex;
    position: absolute;
    right: 3%;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    text-align: right;
}
 /* Set text on left header bottom */
.header-title{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

 /* Set firs container */
.container{
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 3%;
}

 /* Set  left of firs container */
.container-left{
    display: flex;
    flex-direction: column;
    width: 33%;
}

 /* Set  center of firs container */
.container-center{
    width: 33%;
    align-items: center;
    display: flex;
}

 /* Set  right of firs container */
.container-right{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: end;
}


 /* Configure a small card to display in the left on first container */
.item-card-img{
    margin-bottom: 20%;
}

 /* set left configuration of card */
.item-card-img .left{
    display: flex;
    flex-direction: row;
}
/* set right configuration of card */
.item-card-img .right{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}
.item-card-img img{
    height: 150px;
    width: 150px;
} 
/* set picture of card */
.item-card-img .right .span{
    margin-bottom: 15px;
    color: #0ddbd1;
    font-size: 20px;
}

/* set Text titles */
.span{
    margin-bottom: 15px;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(71, 70, 70);
}



/* Configure second container at Home  */
.second-container{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-bottom: 5%;
}

.second-container .blue-card{
    display: flex;
    background-color: #0dc5bc;
    color: white;
    align-items: center;
    width: 33.33%;
    flex-direction: column;
    padding: 5%;
}

.second-container .blue-card-center{
    display: flex;
    background-color: #0ed6cc;
    color: white;
    align-items: center;
    width: 33.33%;
    flex-direction: column;
    padding: 5%;
}

.second-container .blue-card-end{
    display: flex;
    background-color: #0ddbd1;
    color: white;
    align-items: center;
    width: 33.33%;
    flex-direction: column;
    padding: 5%;
}
/* end configuration of second container at Home */



/* Configure third container at Home  */
.third-container{
    display: flex;
    flex-direction: row; 
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.tc-left{
    width: 30%;
    display: flex;
    align-items: center;
}

.tc-right{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tc-card{
    display: flex;
    width: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(240, 248, 255, 0.603);
    align-items: center;
    flex-direction: column;
    height: 280px;
    margin: 1%;
}
.tc-card .span{
    margin-bottom: 15px;
    color: #0ddbd1;
    font-size: 30px;
}

/* end configuration of thrid container at Home */



/* Configure fourth container at Home  */
.fourt-container{
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.fc-left{
    width: 60%;
    height: 450px;
    background-image: url('../img/b5.jpg');
    background-size: contain;
    margin-right: 1%;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.fc-left-body{
    display: flex;
    flex-direction: column;
    margin: 10%;
}
.fc-right{
    width: 30%;
    display: flex;
    align-items: center;
}

/* end configuration of fourth container at Home */


.five-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    height: 400px;
}

.fic-left{
    display: flex;
    width: 47%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    padding-top: 5%;
    align-items: stretch;
}

.fic-right{
    display: flex;
    width: 53%;

}


.six-container{
    display: flex;
    flex-direction: row;
}


.seven-container{
    display: flex;
    flex-direction: column;
    background-image: url('../img/cc1.jpg');
    color: white;
    height: 350px;
    background-size: cover;
    
    
}
/* Set picture and blur with dark */
.blur{
    background-color: rgba(0, 0, 0, 0.63);
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 350px;
    align-items: center;
    padding-left: 15%;
}
/* Container of Blur item */
.blur-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Set footer style */
footer{
    background-color: black;
    color: white;
    height: 250px;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.first-footer{
    display: flex;
    flex-direction: row;
}

.ff-left{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.ff-right{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: flex-end;
}

/* Set secon footer style */
.second-footer{
    background-color: rgb(37, 36, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2%;
}








/* Set Button style in page */
button{
    border: none;
    background-color: #0ddbd1;
    font-size: 20px;
    padding: 10px;
    color: white;
    border-radius: 3px;
    margin-top: 5%;
}

/* Set button with picture */
.btn-img{
    padding: 1px;
    color: white;
    border-radius: 1px;
    margin-top: 0px;
    margin-right: 9%;
    width: 79px;
    height: 70px;
}
