<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Blog</title>
</head>
<body>
    <!--Header Block-->
    <div class="small-header">
        <div class="header-top">
            <div class="header-top-left">
                Sail-Trip
            </div>
            <div class="header-top-right">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Dropdown</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
        <div class="small-header-bottom">
            Home / / Blog
        </div>
    </div>

    <!--conatainer 4 -->
    <div class="fourt-container">
        <div class="fc-left">
            <div class="fc-left-body">
                <span style="margin-bottom: 2%;">July 2020/7 Comments 5</span>
                <span style="margin-bottom: 2%; color: #0ddbd1; font-weight: bold; font-size: 30px;">Lorem ipsum dolor</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna</span>
                <button style="width: 150px;">Read More</button>
            </div>
            
        </div>
        <div class="fc-right">
            <span class="span">
                Our Latest News & Blog
            </span>
        </div>
    </div>

    <!--Five container-->
    <div class="five-container">
        <div class="fic-left">
            <span style="margin-bottom: 2%;">July 2020/7 Comments 5</span>
            <span style="margin-bottom: 2%; color: #0ddbd1; font-weight: bold; font-size: 30px;">Lorem ipsum dolor</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna</span>
            <button style="width: 150px;">Read More</button>
        </div>
        <div class="fic-right">
            <img src="blog1.jpg" width="100%" alt="">
        </div>
    </div>

    <!--Six container-->
    <div class="six-container">
        <div class="fic-right">
            <img src="blog2.jpg" width="100%" alt="" style="width: 95%;">
        </div>
        <div class="fic-left">
            <span style="margin-bottom: 2%;">July 2020/7 Comments 5</span>
            <span style="margin-bottom: 2%; color: #0ddbd1; font-weight: bold; font-size: 30px;">Lorem ipsum dolor</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna</span>
            <button style="width: 150px;">Read More</button>
        </div>

    </div>


    <!--footer-->
    <footer>
        <div class="first-footer">
            <div class="ff-left">
                <span style="font-size: 30px; color:#0ddbd1; font-weight: bold; margin-bottom: 3%;">Sail-Trip</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
            </div>
            <div class="ff-right">
                <span>qsd</span>
                <span>qsd</span>
                <span>qsd</span>
                <span>qsd</span>
                <span>qsd</span>
                <span>qsd</span>

            </div>

        </div>
        
    </footer>
    <div class="second-footer">
        <span>© 2022 Sail-Trip . All Rights Reserved | Design by Aguekeng</span>
    </div>
</body>
</html>

