<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/galery.css">
    <link rel="stylesheet" href="../styles/index-mobile.css">
    <title>Galery</title>
</head>
<body>
    <!--Header Block-->
    <div class="small-header">
        <div class="header-top">
            <div class="header-top-left">
                Sail-Trip
            </div>
            <div class="header-top-right">
                <a href="../../index.html">Home</a>
                <a href="../../view/pages/about.html">About</a>
                <a href="../../view/pages/services.html">Services</a>
                <div class="dropdown">
                    <a class="dropbtn">Dropdown</a>
                    <div class="dropdown-content">
                    <a href="../../view/pages/galery.html">Galery</a>
                    <a href="../../view/pages/blog.html">Blog</a>
                    </div>
                </div>
                <a href="../../view/pages/contact.html">ContactUs</a>
            </div> 
        </div>
        <div class="small-header-bottom">
            Home / / Galery
        </div>
    </div>
    <div class="g-container">
        <div class="g-container-top">
            <div class="g-container-top-left">
                <span class="span">Our Portfolio Gallery</span>
            </div>
            <div class="g-container-top-right">
                <img src="../img/ab1.jpg" alt="" width="50%">
                <img src="../img/ab2.jpg" alt="" width="50%">
            </div>
        </div>
        <div class="g-container-bottom">
            <img src="../img/blog3.jpg" alt="" width="33.3%">
            <img src="../img/blog2.jpg" alt="" width="33.3%">
            <img src="../img/blog1.jpg" alt="" width="33.3%">
            <img src="../img/blog1.jpg" alt="" width="33.3%">
            <img src="../img/blog3.jpg" alt="" width="33.3%">
            <img src="../img/blog2.jpg" alt="" width="33.3%">
        </div>
    </div>
    <!--footer-->
    <footer>
        <div class="first-footer">
            <div class="ff-left">
                <span style="font-size: 30px; color:#0ddbd1; font-weight: bold; margin-bottom: 3%;">Sail-Trip</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
            </div>
            <div class="ff-right">
                <img src="../img/icons/f.png" alt="" width="20px">
                <img src="../img/icons/t.png" alt="" width="20px">
                <img src="../img/icons/w.png" alt="" width="20px">
                <img src="../img/icons/e.png" alt="" width="20px">
                <img src="../img/icons/i.png" alt="" width="20px">
            </div>

        </div>
        
    </footer>
    <div class="second-footer">
        <span>© 2022 Sail-Trip . All Rights Reserved | Design by Aguekeng</span>
    </div>
</body>
</html>